<div class="new_container">
<h1 id = "all_questions">All Questions</h1>
<ul class = "all_ul">
  <% @questions.each do |question| %>

    <li class = "all_li">
      <% @q=question %>
      <%= erb :'_vote_button_helper' %>
      <%= question.votes.length %>
      <a id = "all_a" href="/questions/<%= question.id %>"><%= question.title %></a>
    <span class="author"><a href ="/users/<%=question.author.id%>/profile"><%= question.author.user_name %></a></span></li>
    <% question.tags.each do |tag| %>
      <a href="/tags/<%= tag.id %>"><%= tag.name %></a>
    <% end %>
    <div id = "linebreak"></div><br>
  <% end %>
</ul>


</div>
