<div class="new_container">

<h1 id="all_questions"><%=@question.title%></h1>
<p><%=@question.body%></p>
<ul>
<% @question.tags.each do |tag| %>
  <li><a href="/tags/<%= tag.id %>"><%= tag.name %></a></li>
<% end %>
</ul>
<% if @question.author == current_user %>
  <a id = "edit_question" href ="/questions/<%=@question.id%>/edit">Edit</a>
  <form id = "delete_form" action="/questions/<%=@question.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input id = "delete_input" type="submit" value="Delete">
  </form>
<%end%>










</div>
