<div class="new_container">

<h1 id="all_questions"><%=@question.title%></h1>
<p><%=@question.body%></p>

<ul>
<% @question.tags.each do |tag| %>
  <li><a href="/tags/<%= tag.id %>"><%= tag.name %></a></li>
<% end %>
</ul>

<h4>Answers: </h4>
<%@question.answers.order(:created_at).each do |answer|%>
<p><%= answer.body %><br><br>
   <%= answer.answerer.user_name %>
   <% if current_user == answer.answerer %>
    <a href="/questions/<%=@question.id%>/answers/<%=answer.id%>/edit">Edit Answer</a>
    <form action="/questions/<%=@question.id%>/answers/<%=answer.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
    </form><br>
   <% end %>
</p>
  <hr>
  <% end %>
 <a href="/questions/<%=@question.id%>/answers/new">Add Answer</a>

<% if @question.author == current_user %>

  <a id = "edit_question" href ="/questions/<%=@question.id%>/edit">Edit</a>
  <form id = "delete_form" action="/questions/<%=@question.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input id = "delete_input" type="submit" value="Delete">
  </form>
<%end%>










</div>
