<div class="new_container">

<h1 id="all_questions"><%=@question.title%></h1>
<p> <a href="/users/<%= @question.author.id %>/profile"><%= @question.author.user_name %> </a> </p>
<p><%=@question.body%></p>

<ul>
<% @question.tags.each do |tag| %>
  <li><a href="/tags/<%= tag.id %>"><%= tag.name %></a></li>
<% end %>
</ul>

<% @q = @question %>
<%= erb :'_vote_button_helper' %>
<p><%= @question.votes.length %></p>

<% if @question.author == current_user %>
  <a href ="/questions/<%=@question.id%>/edit">Edit Question</a>
  <form class="delete" action="/questions/<%=@question.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input class="delete" type="submit" value="Delete Question">
  </form><br>
<% end %>

  <hr>
  <hr>
  <hr>

<h2>Answers: </h2>
<% @question.answers.order(:created_at).each do |answer|%>
  <p><%= answer.body %></p>
  <p><a href ="/users/<%=answer.answerer.id %>/profile"><%= answer.answerer.user_name %></a></p>

   <% @a = answer %> <%= erb :'_answer_vote_button_helper' %>

   <p> <%= answer.votes.length %> </p>
   <% if current_user == answer.answerer && @question.answers.length > 0 %>
    <a href="/questions/<%=@question.id%>/answers/<%=answer.id%>/edit">Edit Answer</a>
    <form action="/questions/<%=@question.id%>/answers/<%=answer.id%>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Answer">
    </form><br>
   <% end %>
  <hr>
    <div class= "answer_comments">
    <% answer.comments.each do |comment| %>
      <p><%= comment.body %></p>
      <p><a href="/users/<%= comment.commenter.id %>/profile"><%= comment.commenter.user_name %></a></p>

      <% if current_user == comment.commenter %>
        <form class="delete" action="/questions/<%=@question.id%>/answers/<%=answer.id%>/comments/<%=comment.id%>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input class="delete" type="submit" value="Delete">
        </form><br>
      <% end %>


      <br><br>
    <% end %>
    <a href="/questions/<%=@question.id%>/answers/<%=answer.id%>/comments/new">New Comment</a>
    </div>

  <hr>
  <hr>
  <hr>

  <% end %>



 <a href="/questions/<%=@question.id%>/answers/new">Add Answer</a>

</div>
